<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
    .content{
      position: relative;
      top: 50%;
    }
    </style>

  </head>
<body style = "margin: 0; padding: 0;">
  <div  style = "background: url(images/social.jpg); background-repeat: no-repeat;background-size: cover;height: 600px;width: 100% ;" id=" header-bg">
<div class = "content">
  <p>jhi</p>
</div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
<script>
  $(document).ready(function(){

    $(".header-bg").ripples({
      dropRadius: 10,
      perturbance: 0.04
    });


  });
  </script>
</body>
